---
import  ArticleList  from '../../components/blog/ArticleList.astro'
import CourseSection from '../../components/blog/CourseSection.astro'
import  FeaturedTech  from '../../components/blog/FeatureTech.astro'
import Layout from '../../layouts/Layout.astro'
---

	<Layout>
		<main class="container mx-auto px-4 py-8 max-w-6xl">
			<div class="bg-blue-600 text-white p-8 rounded-lg mb-8 text-center">
				<h1 class="text-4xl font-bold mb-4">Bienvenido a Mi Blog de Desarrollo</h1>
				<p class="text-xl">Explorando las últimas tendencias en desarrollo web y tecnología</p>
			</div>
			<ArticleList />
			<FeaturedTech />
			<CourseSection />
		</main>
	</Layout>


