---
// import { motion } from 'framer-motion'
// import Image from 'next/image'
import FlipCard from './ui/flipCard.svelte'
import ButtonMore from './ui/ButtonMore.svelte'
---
<script>
import lottie from 'lottie-web'

let container1: any = document.getElementById('animation-1') || null
let container2: any = document.getElementById('animation-2') || null


lottie.loadAnimation({
  container: container1,
  renderer: 'svg',
  loop: true,
  autoplay: true,
  path: './animation-1.json'
})

lottie.loadAnimation({
  container: container2,
  renderer: 'svg',
  loop: true,
  autoplay: true,
  path: './animation-2.json'
})

</script>
    <section id="showcase" class="py-20 px-4 sm:px-6 lg:px-8 bg-white dark:bg-gray-900">
      <div class="max-w-7xl mx-auto">
        <div class="text-center mb-16">
          <h2 class="text-base text-purple-600 font-semibold tracking-wide uppercase">EXOCODE</h2>
          <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 dark:text-white sm:text-4xl">
            Transformando el futuro de la web
          </p>
        </div>
        <div class="grid md:grid-cols-2 gap-8 items-center">
          <div>
            <FlipCard className="w-full sm:h-[400px] h-[250px]" client:load>
              <div id="animation-1" slot="flip-front">

              </div>

              <div id="animation-2" slot="flip-back">

              </div>
            </FlipCard>
          </div>
          <div>
            <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Lo que nos define</h3>
            <p class="text-gray-600 dark:text-gray-300 mb-6">
             En ExoCode, nos dedicamos a ofrecer soluciones  web avanzadas y personalizadas para satisfacer las necesidades únicas de nuestros clientes. Nuestra misión es impulsar el crecimiento y la eficiencia a través de tecnología innovadora y un enfoque centrado en el cliente
            </p>
            <ul class="space-y-4">
              {['Expertos en desarrollo web a medida', 'Implementación de tecnologías web de vanguardia', 'Compromiso con la calidad y la excelencia en la web', 'Atención personalizada y soporte continuo para tu sitio web'].map((feature, index) => (
                <li
                  class="flex items-center space-x-3 text-gray-700 dark:text-gray-200"
                >
                  <svg class="flex-shrink-0 w-5 h-5 text-purple-500" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                  <span>{feature}</span>
                </li>
              ))}
            </ul>
            
            <div class="flex sm:justify-start justify-center mt-5">
              <ButtonMore>
                Ver más
              </ButtonMore>
            </div>

          </div>
        </div>
      </div>
    </section>

