---
// const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
import  Header  from '../components/Header.astro'
import  Footer from '../components/Footer.astro'
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap">
		
		<title>StartupX</title>
		<style is:global>
			body { 
				font-family: 'Figtree', sans-serif; 
			}
		</style>
	</head>

	<body>
        <Header />
		<main class="min-h-screen bg-gradient-to-b from-purple-50 to-white dark:from-gray-900 dark:to-gray-800 text-gray-900 dark:text-gray-100">
			<slot/>
		</main>
        <Footer />
	</body>
</html>
